<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avoorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvoorApp" >

        <activity
            android:name=".LandingScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".HomeScreen" />
        <activity android:name=".AboutScreen" />
        <activity android:name=".SponsorsScreen" />
        <activity android:name=".GalleryScreen" />
        <activity android:name=".PradoshamDatesScreen" />
        <activity android:name=".SankalpamScreen" />
        <activity android:name=".PradoshamDatesSponsorsScreen" />
        <activity android:name=".GalleryAboutTempleScreen" />
        <activity android:name=".GalleryTemplePathigamScreen" />

    </application>

</manifest>